@import './reset.css';
@import './transition.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 黑夜模式 */
html[data-theme='dark'] {
  /* 主背景色 */
  --bgc1: #1a1a1a;
  /* 主文字颜色 */
  --text-color1: rgba(255, 255, 255, 0.85);
  /* input */
  --iptbg: #2c2c2c;
}

/* 白天模式 */
:root {
  /* 主背景色 */
  --bgc1: #ffffff;
  /* 主文字颜色 */
  --text-color1: rgba(33, 53, 71, 1);
  /* input */
  --iptbg: #e1ebe7;
}

body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bgc1);
  transition: background-color 0.5s ease, color 0.5s ease;
  color: var(--text-color1);
}
.n-message {
  max-width: 350px !important;
}

.n-message-container.n-message-container--top {
  top: 80px !important;
}
.n-message-container.n-message-container--top {
  top: 80px !important;
}
.n-form-item .n-form-item-label {
  font-size: 14.5px;
  color: #939393;
}
.n-dialog .n-dialog__title {
  color: #939393;
}
/* 弹窗取消按钮 */
.n-dialog__action .n-button:nth-child(1) {
  border-radius: 9px;
}
/* 弹窗确认按钮 */

.n-dialog__action .n-button:nth-child(2) {
  border-radius: 9px;
}
.n-dialog {
  padding: 15px 15px 20px 15px;
}
@media screen and (max-width: 768px) {
  .n-dialog {
    padding: 14px 17px 20px 17px;
  }
}

.n-tabs .n-tabs-tab {
  color: var(--text-color1);
}

[data-v-f04faf34] .n-input:not(.n-input--autosize) {
  border-radius: 8px !important;
  background: var(--iptbg) !important;
  color: #939393;
}
.n-form-item-feedback__line {
  font-size: 12px;
  margin: 9px 0;
}
.n-input .n-input__suffix .n-base-icon,
.n-input .n-input__prefix .n-base-icon {
  font-size: 21px;
}
.n-input .n-input__input-el {
  height: 100% !important;
}
