@import './reset.css';
@import './nprogress.css';
@import './transition.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 共享变量 */
:root {
  /* ----------------------------------------------------------------------------------字体大小 */
  /* 小尺寸字体，用于极小的辅助文字、图注 */
  --fontSizeTiny: 12px; /* 最小字体，适合标注或次要信息 */

  /* 小号字体，用于较小的文本，如标签、辅助信息 */
  --fontSizeSmall: 14px; /* 用于辅助文本、小型标签、表单说明 */

  /* 正文文本的标准大小 */
  --fontSize: 16px; /* 正文主字体，适用于绝大多数内容展示 */

  /* 中型字体，适合小标题或略大的按钮文本 */
  --fontSizeMedium: 18px; /* 用于小标题或更突出的文本元素 */

  /* 较大字体，适合二级标题（H3），强调重要信息 */
  --fontSizeLarge: 24px; /* H3 标题或其他次级标题 */

  /* 大型字体，适合二级标题（H2），引人注目的内容 */
  --fontSizeXLarge: 32px; /* H2 标题 */

  /* 特大型字体，用于主标题（H1），页面最重要的文字 */
  --fontSizeXXLarge: 40px; /* H1 主标题 */

  /* 超大型字体，适合非常重要的内容，主标题需要额外突出时 */
  --fontSizeXXXLarge: 48px; /* 最大标题尺寸，少用，适合超大屏幕 */

  /* 按钮文字大小 */
  --fontSizeButton: 16px; /* 按钮文字，确保可点击性与可读性 */

  /* 导航栏文字大小 */
  --fontSizeNav: 16px; /* 导航栏文字，简洁易读 */
  /* 默认值，防止未获取到数据时布局错乱 */
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
}

body {
  max-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;
  /* background-color: var(--bgc1);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-color1);
  font-size: var(--fontSize); */
}
.n-message-container.n-message-container--top {
  top: 80px !important;
}
.n-form-item .n-form-item-label {
  font-size: 16px;
  color: #615f63;
}
